/* Style of the body of the page, which should take up the browser window */
body {
    background-color: #f1efe1; /* the background of all pages should be an off-white */
    width: 100%;
    margin: 0;
}

/* Style for the calculator logo, which is centered at the top */
.logo_image {
    display: block; /*rather than inline */
    margin: 3rem auto; /* center the logo on the page */
    width: 100px; 
    height:100px;
}

/* Style of the calculator intro section */
.calculator_intro_section {
    margin: auto;
    width: 85%; /* DO NOT take up full width of the page */
    text-align: center;
}

/* Style of h1 */
h1 {
    color: #bc6c25;
    font-family: "Playfair Display", Helvetica, Arial, "san serif"; /* fallback fonts set */
    font-weight: 900; /* heavier weight for h1 */
    font-size: 2.7rem;
    line-height: 3rem;
    text-transform: capitalize;
    margin: 2rem 1rem 0.2rem 1rem;
    padding: 1rem;
}

/* Style of paragraphs of text */
p {
    color: #283618;
    font-family: "Quicksand", Helvetica, Arial, "san serif"; /* fallback fonts set */
    font-weight: 300; /* lighter weight for paragraphs of text */
    font-size: 1.2rem;
    line-height: 1.3rem; /* breathing room between lines */
    margin-left: 5rem;
    margin-right: 5rem;
}

/* Style of the button that triggers the program */
.begin_button {
    color: #f1efe1;
    background-color: #283618;
    font-family: "Quicksand", Helvetica, Arial, "san serif"; /* fallback fonts set */
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.4rem;
    text-transform: uppercase;
    margin-top: 1rem; /* add breathing room to top of the button */
    margin-bottom: 1rem; /* add breathing room to bottom of the button */
    padding: 1rem;
    border-style: solid;
    border-radius: 2rem;
    border-color: #f1efe1;
}

/* Style of the page's footer */
footer p {
    font-family: "Playfair Display", Helvetica, Arial, "san serif"; /* fallback fonts set */
    font-weight: 700;
    text-transform: uppercase; /* make footer copyright more noticeable */
    font-size: 1.3rem;
    line-height: 1.5rem;
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;
}